.App {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.514);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div#white{
  background-color: rgb(255, 255, 255);
  width: 476px;
  height: 180px;
  padding: 2px;
  margin:0;
  position: relative ; right: -270px; top: 221px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Blue component  */

div#blue{
  background-color: #4ABEBE;
  width: 240px;
  height: 230px;
  border-bottom-right-radius: 10px;
  position: relative ; right: -510px; top: -30px;
  font-size: small;
  color: azure;

}
/* White component */
div#single{
  background-color: #2CB3B2;
  margin: 0;
  width: 240px;
  height: 230px;
  position: relative ; right: -270px; top: 200px;
  border-bottom-left-radius: 10px; 
  font-size: small;
  color: azure;

}

h4#white-h4{
  color: #2CB3B2;
}

h5#white-h5{
  color: #BFDF34;
}

p#white-p{
  color: grey;
  font-size: small;
}


h1,h2,h3,h5,h6,p{
  font-family: 'Karla', sans-serif;
}

button{
  background-color: #BFDF34;
  border-radius: 5px;
  width: 145px;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color:  #4CAF50; 
  color: white;
}